$color-friendly: #7ed957;
$color-warning: #ff5757;
$color-accent: #b8daef;
$color-dark: #171717;
$color-bright: #ffffff;
$color-button: #5271ff;

$color-font-normal: #000000;
$color-font-bright: #ffffff;

:host {

  ion-item {
    //--border-color: white; // default underline color
    //--highlight-color-invalid: red; // invalid underline color
    //--highlight-color-valid: green; // valid underline color
    --highlight-color-focused: $color-dark;
    --ion-color-primary: $color-dark;
  }

  .ion-pristine {
    --highlight-color-invalid: $color-dark; // invalid underline color
  }

  .left-offset {
    //margin-left: 20px;
    //padding-left: 16px;
  }

  .top-offset-small {
    margin-top: 20px;
  }

  .top-offset-mid {
    margin-top: 100px;
  }

  .top-offset-big {
    margin-top: 150px;
  }

  .friendly-text {
    color: $color-friendly;
  }

  .warning-text {
    color: $color-warning;
  }
}

header {
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  background: $color-bright;

  nav {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  //margin-top: 362px;
  padding-left: 161px;
  z-index: 3;
  min-height: 360px;
  height: 100%;
  width: 870px;

  .logo {
    width: 421px;
    height: 262px;
    margin: 20px auto 0 auto;
    background-image: url("/assets/landing/eac.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .welcome-text {
    font-family: 'Sifonn Pro';
    box-sizing: border-box;
    font-size: 48px;
    line-height: 48px;
    margin-top: 30px;
    padding: 0 0 14px 0;
    width: 100%;
    text-align: center;
    border-bottom: 10px solid #b8daef;
  }

  .privileges {
    font-family: 'Sifonn Pro';
    font-size: 32px;
    line-height: 32px;
    margin-top: 130px;
  }

  .button-wrapper {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

main {
  width: 100%;
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
  position: relative;
  display: flex;

  nav {
    height: 66px;
    width: 100%;
    background-color: #38b6ff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  .car__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 720px;
    height: 100%;
    background-image: url("/assets/landing/a6.jpg");
    background-position: center 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 3;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-color: #38b6ff55;
      z-index: 3;
    }
  }

  section {
    width: 1603px;
    height: 395px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #e0b500;
    z-index: 4;

    &.car__price__difference {
      margin: 211px 0 0 72px;
    }
  }
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.cards--padding {
  padding: 44px 26px 0 26px;
}


.card {
  width: 300px;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 7px solid $color-dark;
  border-right: 21px solid $color-dark;
  border-bottom: 20px solid $color-dark;
  border-left: 8px solid $color-dark;
  padding: 18px 20px 8px 8px;

  .header {
    width: 100%;
    font-family: 'Sifonn Pro';
    font-size: 21px;
    line-height: 21px;
    text-align: left;
    box-sizing: border-box;
    padding-bottom: 12px;
    border-bottom: 5px solid #b8daef;

    .card__btn__wrapper {
      width: 100%;
      padding: 0 15px;
      box-sizing: border-box;
      margin-top: 32px;
      margin-bottom: 17px;
    }
  }

  &.card--big {
    .header {
      border-bottom: 8px solid #b8daef;
    }
  }



  .summary {
    font-family: 'Sifonn Pro';
    font-size: 21px;
    line-height: 21px;
    text-align: right;
  }

  &.card--with__list {

    .summary {
      font-size: 14px;
      line-height: 14px;
      text-align: left;
      color: $color-dark;

      ol {
        font-family: 'Monsterrat';
        margin-top: 20px;

        li {
          margin-top: 4px;
        }
      }
    }
  }

  &.friendly {

    .summary {
      color: $color-friendly;
    }
  }

  &.warning {

    .summary {
      color: $color-warning;
    }
  }
}

.left {
  width: 263px;
  height: 348px;
  background-image: url("/assets/landing/left.png");
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.right {
  width: 439px;
  height: 800px;
  background-image: url("/assets/landing/right.png");
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.top {
  width: 409px;
  height: 284px;
  background-image: url("/assets/landing/top.png");
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 53%;
  z-index: 1;
}

footer {
  width: 100%;
  height: 208px;
  background: $color-dark;
  color: $color-font-bright;
  padding: 27px 0 0 51px;

  .content {
    height: 90px;
    width: 435px;
    font-family: 'Monsterrat';

    .question {
      margin-bottom: 17px;
    }

    .flex-line {
      margin-bottom: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .copyright {
    margin-top: 40px;
    font-family: 'Open Sans';
  }
}
