<ion-content>
    <header>
        <nav>
            <button>
                ZALOGUJ SIĘ X
            </button>
        </nav>
        <div class="header-content">
            <h1 class="welcome-text">
                PRZYSTĄP DO <br>
                EURO AUTO CLUB!
            </h1>
            <h2 class="privileges">KORZYŚCU ZWIĄZANE Z EURO AUTO CLUB</h2>
            <div class="button-wrapper">
                <button class="btn">DOWIEDZ SIĘ WIĘCEJ</button>
            </div>
        </div>
        <div class="left"></div>
        <div class="top"></div>
        <div class="right"></div>
    </header>
    <main>
        <div class="slider"></div>
        <div class="chips">
            <div class="total-cost" *ngIf="totalReduction">
                <div class="summary-text">CAŁKOWITY KOSZT:</div>
                <div class="cost">{{totalReduction}} ZŁ</div>
            </div>
        </div>
        <div class="container">
            <section class="car-cost">

                <h3>OPŁATY TOWARZYSZĄCE ZAKUPOWI AUTA*</h3>
                <div class="inputs-wrapper">

                    <form [formGroup]="carDataForm" (ngSubmit)="setCarAccompanyingFees()">
                        <div class="cost-input-wrapper">
                            <ion-item>
                                <ion-label position="floating"> Podaj wartość auta</ion-label>
                                <ion-input type="number" formControlName="carCost">
                                </ion-input>
                            </ion-item>
                        </div>

                        <ion-item class="top-offset-small">
                            <ion-checkbox color="dark" slot="start" formControlName="isOver2L"></ion-checkbox>
                            <ion-label><span class="left-offset">Powyżej 2L</span></ion-label>
                        </ion-item>
                        <div class="top-offset-mid">
                            <button class="btn" type="submit">OBLICZ</button>
                        </div>
                    </form>
                </div>
            </section>
            <section class="register-cost" *ngIf="carAccompanyingFees">
                <h3>KOSZT SPROWADZENIA I REJESTRACJI AUTA*</h3>

                <div class="cards">

                    <div class="card friendly">
                        <div class="header">
                            CENA W <br>
                            <span class="friendly-text">EURO AUTO CLUB</span>
                        </div>
                        <div class="summary">{{carAccompanyingFees.eac}} ZŁ</div>
                    </div>

                    <div class="card warning">
                        <div class="header">
                            CENA W <br>
                            <span class="warning-text">POLSCE</span>
                        </div>
                        <div class="summary">{{carAccompanyingFees.normal}} ZŁ</div>
                    </div>
                </div>
            </section>
            <section class="fuel-cost">
                <h3>
                    KARTY PALIWOWE, TANKUJESZ NAWET <span class="friendly-text">10% <br>
                    TANIEJ </span>
                </h3>

                <form [formGroup]="fuelCostsForm" (ngSubmit)="setFuelCostsComparsion()">
                    <ion-item>
                        <ion-label position="floating"> Ilość kilometrów</ion-label>
                        <ion-input required type="text" formControlName="kilometers"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating"> Cena 1 litra paliwa</ion-label>
                        <ion-input required type="text" formControlName="fuelPrice"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating"> Średnie spalanie auta</ion-label>
                        <ion-input required type="text" formControlName="averageCombustion"></ion-input>
                    </ion-item>

                    <div class="top-offset-mid">
                        <button class="btn" type="submit">OBLICZ</button>
                    </div>
                </form>

                <div class="cards top-offset-big" *ngIf="fuelCostsComparsion">

                    <div class="card friendly">
                        <div class="header">
                            KOSZTY PALIWA <br>
                            <span class="friendly-text">EURO AUTO CLUB</span>
                        </div>
                        <div class="summary">{{fuelCostsComparsion.eac}} ZŁ</div>
                    </div>

                    <div class="card warning">
                        <div class="header">
                            KOSZTY PALIWA <br>
                            <span class="warning-text">TRADYCYJNIE</span>
                        </div>
                        <div class="summary">{{fuelCostsComparsion.normal}} ZŁ</div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="content">
            <div class="question">Masz jakieś pytania?</div>
            <div class="flex-line">
                <div>Napisz</div>
                <div>email@gmail.com</div>
            </div>
            <div class="flex-line">
                <div>Zadzwoń</div>
                <div>123 123 123</div>
            </div>

        </div>

        <div class="copyright">Copyright 2019 Euro Auto Club. Wszelkie prawa zastrzeżone.</div>
    </footer>
</ion-content>

