<ion-content>
    <header>
        <nav>
            <button>
                ZALOGUJ SIĘ X
            </button>
        </nav>
        <div class="header-content">
            <h1 class="welcome-text">
                PRZYSTĄP DO <br>
                EURO AUTO CLUB!
            </h1>
            <h2 class="privileges">KORZYŚCU ZWIĄZANE Z EURO AUTO CLUB</h2>
            <div class="button-wrapper">
                <button class="btn">DOWIEDZ SIĘ WIĘCEJ</button>
            </div>
            <ion-button>xd</ion-button>
        </div>
        <div class="left"></div>
        <div class="top"></div>
        <div class="right"></div>
    </header>
    <main>
        <div class="slider"></div>
        <section class="car-cost">
            <h3>OPŁATY TOWARZYSZĄCE ZAKUPOWI AUTA*</h3>

            <div class="inputs-wrapper">
                <div class="cost-input-wrapper">
                    <ion-item>
                        <ion-label position="floating"> Podaj wartość auta </ion-label>
                        <ion-input required type="text"></ion-input>
                    </ion-item>
                </div>
                <div class="capacity-checkbox-wrapper">
                    <ion-item>
                        <ion-checkbox color="dark" checked slot="start"></ion-checkbox>
                        <ion-label><span class="left-offset">Powyżej 2L</span></ion-label>
                    </ion-item>
                    <div class="button-margin">
                        <ion-button>Oblicz</ion-button>
                    </div>

                </div>
            </div>

        </section>
        <section class="register-cost">
            <h3>KOSZT SPROWADZENIA I REJESTRACJI AUTA*</h3>

            <div class="cards">
                <div class="card friendly">
                    <div class="header">QWEQWE</div>
                    <div class="summary">123 123zł</div>
                </div>
                <div class="card warning">
                    <div class="header">QWEQWE</div>
                    <div class="summary">123 123zł</div>
                </div>
            </div>

        </section>
        <section class="fuel-cost">
            <h3>KARTY PALIWOWE, TANKUJESZ NAWET 10% TANIEJ</h3>
        </section>
    </main>
    <footer>
        <div class="content">
            <div class="question">Masz jakieś pytania?</div>
            <div class="flex-line">
                <div>Napisz</div><div>email@gmail.com</div>
            </div>
            <div class="flex-line">
                <div>Zadzwoń</div><div>123 123 123</div>
            </div>

        </div>

        <div class="copyright">Copyright 2019 Euro Auto Club. Wszelkie prawa zastrzeżone.</div>
    </footer>
</ion-content>

