/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'Sifonn Pro';
  src: url('/assets/fonts/sifonn/SIFONN_PRO.woff') format('woff');
}

@font-face {
  font-family: 'Monsterrat';
  src: url('/assets/fonts/monsterrat/Montserrat_Regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/opensans/OpenSans-Light.woff') format('woff');
}

h1, h2, h3, h4, h5, h6, p, ol, li {
  padding: 0;
  margin: 0;
}

ol {
  padding-left: 20px;
}

$color-friendly: #7ed957;
$color-warning: #ff5757;
$color-accent: #b8daef;
$color-dark: #171717;
$color-button: #5271ff;

$color-font-normal: #000000;
$color-font-bright: #ffffff;




